div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #5E5E5E;
	font-family: Proxima Nova;
}

div.tab button {
    background-color: inherit;
	font-family: inherit;
	font-size: 16px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	color: #FFFFFF;
}

div.tab button:hover {
    background-color: #456CA9;
}

div.tab button.active {
    background-color: #456CA9;
}
.projectSelect {
				position: relative;
				left: 20px;
			}
			.hoursWorkedOptions {
				position: relative;
				left: 50px;
			}
			.startFinishActive {
				display: inline;
				position: inherit;
				left: 150px;
				bottom: 135px;
				height: 100px;
			}
			.startFinishBox {
				width: 150px;
			}
			.startFinishHidden {
				display: none;
			}
			.submitHours {
				position: relative;
				color: white;
				width: 150px;
				height:40px;
				border-radius: 7px 7px 7px;
				font-size: 15pt;
				border: none;
				background-color: #EF7900;
				bottom: -20px;
				left: 55%;
			}
			.submitHours:hover {
				cursor: pointer;
				border: 2px solid #FFA64D;
			}
			.formContainer {
				position: relative;
				left: 150px;
			}
			.outerContainer {
				height: 300px;
			}
			.timesheetType {
				position: relative;
				left: 30px;
				font-size: 12pt;
			}
			.daysSelection {
				position: relative;
				top: -57px;
				left: 100px;
			}
			.datePickersActive {
				display: block;
				position: relative;
				left: 200px;
				bottom: 160px;
			}
			.datePickersHidden {
				display: none;
			}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #5E5E5E;
    border-top: none;
	font-family: Proxima Nova;
}	
legend{
	font-family: Proxima Nova;
	font-size: 18px;
}