body {
    margin: 0 px;
    padding: 0 px;
    font-family: arial, helvetica, verdana, sans-serif;
}


/*
css code for the header starts here
*/
#header {
    height: 100 px;
    width: 700 px;
    margin: 0 px auto;
    text-align: center;
}
#logo {
    padding-top: 22 px;
    float: left;
}
#alert {
    width: 35 px;
    height: 35 px;
    background: #ef7900;
    -moz-border-radius: 50 px;
    -webkit-border-radius: 50 px;
    float: right;
    margin-right: 20 px;
    margin-top: 26 px;
    line-height: 35 px;
    font-weight: bold;
}
#userID {
    padding-top: 30p x;
    padding-right: 10 px;
    float: right;
    font-size: 22p x;
}
/*
css for the header ends here
*/


/*
css for navigation bar ends here
*/
nav {
    margin: 0 px auto;
    text-align: center;
    background-color: #5e5e5e;
    min-width: 700 px;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li {
    float: left;
    font-size: 18 px;
}
nav ul {
    list-style: none;
    margin: 0 px;
    padding: 0 px;
    display: inline-block;
    vertical-align: top;
}
nav ul li {
    float: left;
    margin: 0 px;
    padding: 0 px;
}
nav ul li:hover a {
    background-color: #456ca9;
    text-decoration: underline;
}
nav ul li a {
    display: block;
    padding: 12 px 38 px;
    font-family: font123490, arial;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #5e5e5e;
}
nav ul ul {
    padding: 0 px;
    position: absolute;
}
nav ul ul li {
    float: none;
    border-top: 1 px solid #000000;
    border-bottom: 1 px solid #000000;
    position: relative;
}
nav ul ul li a:hover {
    background-color: #3e629b;
}
nav ul ul ul {
    position: absolute;
    top: 0 px;
}
#ts {
    float: left;
    padding-right: 130 px;
}
/*
css code for navigation bar ends here
*/


#PageContent {
    height: 100 px;
    width: 700 px;
    margin: 20 auto;
    /* The number in this line controls the space between the menu and the PageContent div */
}
