body {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    src: url("proxima-nova.otf") format("opentype");
}

/*
css for navigation bar ends here
*/

nav {
    margin: 50 auto; 
    text-align: center;
    background-color: #5e5e5e;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li {
    float: left;
    font-size: 18px;
  
}

  nav ul {
      list-style: none;
      margin: 0;                
      padding: 0;               
      display: inline-block; 
      vertical-align: top;

  }

nav ul li {
    float: left;
    margin: 0;       
    padding: 0;      
}

nav ul li:hover a {
    background-color: #456ca9;
    text-decoration: underline;
}

nav ul li a {
    display: block; 
    padding: 10px 15px;
    font-family: 'ProximaNova', arial;
    color: white;
    font-weight:bold;
    text-decoration: none;
    background-color: #5e5e5e;
    width:  200px;
}       

nav ul ul {
    border-radius: 0px;
    padding: 0;
    position: absolute;
}

nav ul ul li {
    float: none; 
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: relative;
  
}

nav ul ul li a:hover {
    background-color: #3e629b;
  
  
}

nav ul ul ul {
    position: absolute;
    top:0;
}

/*
css for navigation bar ends here
*/
